{% extends 'admin/main.html' %}

{% block content %}
    <div class="container">
        <h1>Add Department</h1>
        <form method="post">
            {% csrf_token %}
            <label for="fullname">Name:</label>
            <input type="text" name="fullname" required><br>

            <label for="email">Email:</label>
            <input type="email" name="email" required><br>

            <label for="username">UserName:</label>
            <input type="text" name="username" required><br>

            <label for="password">Password:</label>
            <input type="password" name="password" required><br>

            <button type="submit" name="add">Add</button>
        </form>
    </div>
{% endblock content %}