<!-- admin-sidebar.html -->

<ul class="nav">
    <li>
        <a href="{% url 'myadmin:dashboard' %}">
            <i class="ti-dashboard"></i>
            <p>Dashboard</p>
        </a>
    </li>
    <li>
        <a href="{% url 'myadmin:leavetype_list' %}">
            <i class="ti-id-badge"></i>
            <p>Leave Types</p>
        </a>
    </li>
    <li>
        <a href="{% url 'myadmin:employees' %}">
            <i class="ti-user"></i>
            <p>Employees</p>
        </a>
    </li>
    <li>
        <a href="{% url 'myadmin:department' %}">
            <i class="ti-blackboard"></i>
            <p>Departments</p>
        </a>
    </li>

    <li>
        <a href="{% url 'myadmin:pending_leaves' %}">
            <i class="ti-calendar"></i>
            <p>New Requests</p>
        </a>
    </li>

    <li>
        <a href="{% url 'myadmin:leave_history' %}">
            <i class="ti-calendar"></i>
            <p>Leave History</p>
        </a>
    </li>

</ul>
