<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- Add your HTML head content here -->
</head>

<body>
    <!-- Add your HTML body content here -->
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Employee ID</th>
                <th>Department</th>
                <th>Joined On</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
              <!--  <td>{{ forloop.counter }}</td> -->
                <td>{{ employee.empcode }}</td>
                <td>{{ employee.firstName }} {{ employee.lastName }}</td>
                <td>{{ employee.department }}</td>
                <td>{{ employee.PostingDate }}</td>
                <td>{{ employee.status }}</td>
                <td>
                    {% if employee.Status == 1 %}
                    <span class="badge badge-pill badge-success">Active</span>
                    <a href="{% url 'myadmin:employees' inid=employee.id %}" onclick="return confirm('Are you sure you want to inactive this employee?');">
                        <i class="fa fa-times-circle" style="color:red" title="Inactive"></i>
                    </a>
                    {% elif employees.status == 0 %}
                    <span class="badge badge-pill badge-danger">Inactive</span>
                    <a href="{% url 'myadmin:employees' id=employee.id %}" onclick="return confirm('Are you sure you want to active this employee?');">
                        <i class="fa fa-check" style="color:green" title="Active"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if msg %}
    <div class="alert alert-success">
        <strong>Info:</strong> {{ msg }}
    </div>
    {% endif %}
</body>

</html>
