{% extends 'admin/main.html' %}

{% block content %}

 <center><a href="{% url 'myadmin:add_employee' %}" class="btn btn-sm btn-info">Add New Employee</a></center>

                        <div class="card-body">
                            <div class="data-tables datatable-dark">



<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Department</th>
      <th scope="col">Joined On</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employees %}
    <tr>
      <td scope="row">{{ employee.empcode }}</td>
      <td>{{ employee.firstName }} {{ employee.lastName }}</td>
      <td>{{ employee.department }}</td>
      <td>{{ employee.CreationDate }}</td>
      <td>{{ employee.status }}</td>
      <td>
          <button type="button" class="btn btn-sm btn-dark">View</button>
          <button type="button" class="btn btn-sm btn-primary">Edit</button>
        {% if employee.status == 'Active' %}
        <button type="button" class="btn btn-sm btn-success" onclick="return confirm('Are you sure you want to inactive this employee?');">Deactivate</button>
        {% elif employee.status == 'Inactive' %}
        <button type="button" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to active this employee?');">Activate</button>
        {% endif %}

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if msg %}
<div class="alert alert-success">
  <strong>Info:</strong> {{ msg }}
</div>
{% endif %}
{% endblock content %}
