<!-- leave_history.html -->
{% extends 'employee/main.html' %}
{% block content %}

    <div class="container">
        <h1>My Leave History</h1>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Type</th>
                    <th>Conditions</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Applied</th>
                    <th>Admin's Remark</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for leave in leave_history %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ leave.LeaveType }}</td>
                    <td>{{ leave.Description }}</td>
                    <td>{{ leave.FromDate }}</td>
                    <td>{{ leave.ToDate }}</td>
                    <td>{{ leave.PostingDate }}</td>
                    <td>
                        {% if leave.AdminRemark %}
                            {{ leave.AdminRemark }} at {{ leave.AdminRemarkDate }}
                        {% else %}
                            Pending
                        {% endif %}
                    </td>
                    <td>
                        {% if leave.status == 1 %}
                            <span style="color: green">Approved</span>
                        {% elif leave.status == 2 %}
                            <span style="color: red">Not Approved</span>
                        {% else %}
                            <span style="color: blue">Pending</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% include 'employee/footer.html' %}
{% endblock content %}
